<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card-header">
        <h3>Categories</h3>
      </div>
      <div class="card-body">
        <ul>
          <li><a href="">Featured</a></li>
          <li><a href="">Phones & Accessories</a></li>
          <li><a href="">TV,Audio & Video</a></li>
          <li><a href="">Home & Living</a></li>
          <li><a href="">HOusehold Appliances</a></li>
          <li><a href="">Shoes</a></li>
          <li><a href="">Bags</a></li>
          <li><a href="">Clothes</a></li>
          <li><a href="">Watches & Jewellery</a></li>
          <li><a href="">Computers & Tablet</a></li>
          <li><a href="">Automotive</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-header">
        <h3>QUICK PURCHASE</h3>
      </div>
      <div class="card-body">
        <div>
          <img class="mySlides" src="assets/images/banner4.jpg" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</div>
